
:root {
  --primary-brand: #1363df;
  --white: #ffffff;
  --unnamed-color-172026: #172026; 
  --unnamed-font-family-muli: Lato;
  --unnamed-font-family-source-serif-pro: Source Serif Pro;
  --unnamed-font-style-normal: normal;
  --unnamed-font-style-italic: italic;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-24: 24px;
  --unnamed-font-size-36: 36px;
  --unnamed-font-size-48: 48px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-20: 20px;
  --unnamed-line-spacing-21: 21px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-25: 25px;
  --unnamed-line-spacing-30: 30px;
  --unnamed-line-spacing-32: 32px;
  --unnamed-line-spacing-45: 45px;
  --unnamed-line-spacing-60: 60px;
  --unnamed-line-spacing-17-5: 17.5px;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: var(--unnamed-font-family-muli);
  font-family: "Lato", sans-serif;
}

/* header css */

header .container {
  width: 100%;
  height: inherit;
}

.navbar {
  height: inherit;
  padding-bottom: 2px;
}
.navbar a.active,
.navbar a:hover {
  border-bottom: 4px solid #dff6ff;
}

.navbar a {
  padding-top: 25px;
}

header {
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 5em;
  z-index: 9;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container-header {
  background-color: #1363df;
  margin: auto;
  text-align: center;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1.5fr 1.5fr 5fr 1fr;
  font-family: "Lato", sans-serif;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.navbar a {
  color: #ffffff;
  margin: 10px 15px 0px;
}

#menu {
  display: none;
}

#shopName {
  font-size: 26px;
}

#shopName a {
  text-decoration: none;
  color: #ffffff;
}

#collection { 
  display: flex;
  flex-direction: row;
}
#collection a {
  text-decoration: none;
}

.search {
  padding: 14px;
  color: rgb(29, 29, 29);
  min-width: 25px;
  text-align: center;
  position: absolute;
}
i.fas.fa-search.search {
  padding-top: 10px;
}
.addedToCart {
  font-size: 1.5em;
  margin-right: 25px;
  position: relative;
}

#badge {
  position: absolute;
  background-color: #06283d;
  color: #ffffff;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  top: -12px;
  left: 10px;
}

.userIcon {
  font-size: 45px;
}

#search-products {
  width: 35em;
  height: 2.5em;
  padding: 2px 50px;
  background-color: rgb(241, 241, 241);
  border: none;
  border-radius: 5px;
}

#search-products::placeholder {
  font-weight: bold;
}

#search-products:focus {
  outline: none;
}

#user a {
  color: #ffffff;
}

.filters {
  width: 22%;
}

.productsSection {
  width: 78%;
}

/* banner css */

.banner-container {
  display: flex;
  flex-direction: row;
}

.text-card {
  width: 25%;
  background: #1b252c 0% 0% no-repeat padding-box;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.text-card h2 {
  width: 50%;
  height: 50%;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-48) / var(--unnamed-line-spacing-60)
    var(--unnamed-font-family-source-serif-pro);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white);
  text-align: center;
  font: normal normal 600 48px/60px Source Serif Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.text-card h2::after {
  width: 2.5em;
  height: 0.15em;
  background: var(--primary-brand);
  position: relative;
  content: "";
  display: block;
  margin: 0.5em 2em 0.1em;
}

.image-card {
  width: 75%;
  margin-top: 4px;
  margin-bottom: 3px;
}
.image-card img {
  width: 100%;
}

/* body css */

.container-index {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1em;
  margin: 0 auto;
  a{
    text-decoration: none;
    color: inherit;
  }
  .selected{
  color: #545D63;
  }
  .results-text span{
    color: #172026;
  }
}

select { 
  width: 100%; 
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
 
}
.category {
  margin: 10px 0px;
}

main {
  padding: 20px 0;
}

main .container {
  display: flex;
  margin-top: 2em;
}
.productsSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.productsSection h2 {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
}

.product {
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
  color: var(--unnamed-color-172026);
  margin-bottom: 1em;
  box-shadow: 0px 1px 8px 1px rgb(245 242 242);
  border-radius: 1px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.product:hover {
  box-shadow: 0px 1px 8px 1px rgb(233 229 229);
}

.product img {
  max-width: 100%;
  height: 382px;
}
.product-img {
  text-align: center;
}
.product-info {
  margin-left: 5px;
  margin-bottom: 5px;
  h3,p{
    padding-top: 4px;
    font-weight: bold !important;
  }
}

.product .product-info h3 {
 
color: #172026;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  
}
.product .product-info p {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-20);
  font-family: var(--unnamed-font-family-muli) !important;
  margin-bottom: 10px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-left: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* footer styles */

footer {
  background: var(--white) 0% 0% no-repeat padding-box;
  border-top: 2px solid lightgray;
}

.footer-social-media i {
  font-size: 20px;
  margin: 6px 12px 6px 0px;
}

.container-footer {
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 15px;
  padding: 15px 98px;
}

.container-footer h3:hover,
.container-footer p:hover {
  cursor: pointer;
}

hr {
  height: 1px;
  color: lightgray;
  background: lightgray;
  font-size: 0;
  border: 0;
  margin: 10px 0;
}

.webFooter {
  padding-top: 30px;
  font-size: 12px;
  h3,p{
    font-family: inherit;
    color: #545D63;
  }
}

#footerItem {
  padding-top: 20px;
  text-align: center;
  font-size: 11px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: start;
}

#footerItem a {
  text-decoration: underline;
  position: relative;
  padding-left: 20px;
  color: black;
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media screen and (max-width: 768px) {

  
.content {
  height: 200vh;
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

/* navigation styles start here */
header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  display: none;
}
.nav-toggle-label {
  
  position: absolute;
  top: 0%;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0%;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-top: 0px;
  line-height: 0.9;
  padding: 5px;
  a{
    color: #000  !important;
  }
  
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  color: #000;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo {
    grid-column: 2 / 3;
  }
  nav {
    all: unset;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -0.75em;
    /*or the line in the bottom
    bottom: -0.75em;
    not top*/
    left: 0;
    right: 0;
    transform: scale(0, 1);
    /*growing from the left and not from the middle
    transform-origin: left;*/
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}


  .container-header {
    grid-gap: 4px;
    grid-template-columns: 1fr 2fr 1fr;
  }
  #menu {
    display: block;
  }
  #menu a {
    color: #000000;
    cursor: pointer;
  
        font-size: inherit;
  }

  #collection {
    display: none;
  }

  #search {
    display: none;
  }

  .banner-container {
    flex-direction: column-reverse;
  }
  .image-card {
    width: 100%;
    margin: 0px;
  }
  .image-card img {
    width: 100%;
    height: 200px;
  }
  .text-card {
    width: auto;
    margin: -5em 1em 0;
  }

  .text-card h2 {
    margin-top: 0.6em;
    margin-bottom: 0.3em;
    font-size: 32px;
  }
  .text-card h2::after {
    left: 25%;
  }
  .filters {
    display: none;
  }

  .productsSection {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .productsSection h2 {
    text-align: center;
    position: inherit;
  }
  .product-img {
    text-align: center;
  }
  .product img {
    height: 190px;
  }

  .product-info {
    font-size: 14px !important;
  }
  .product-info h3 {
    font-size: 14px !important;
    height: 35px;
  }

  .container-footer,
  #footerItem {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px 100px;
  }
  #footerItem {
    text-align: center;
  }
  .webFooter {
    padding: 15px 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  #shopName {
    font-size: 20px;
  }

  .container-header {
    grid-gap: 4px;
    grid-template-columns: 1fr 1.5fr 0.7fr 0.3fr;
  }

  .navbar a {   
    font-size: var(--unnamed-font-size-16);
  }

  #search-products {
    width: auto;
    padding: 2px 4px 0px 27px;
    width: 100%;   
    color: #495057;
    vertical-align: middle;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
  .search {
    padding: 14px 8px;
  }

  #user {
    margin-left: 0.5em;
  }
  .text-card h2 {
    margin-top: 0.6em;
    margin-bottom: 0.3em;
   
top: 178px;
left: 98px;
width: 374px;
height: 153px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-48)/var(--unnamed-line-spacing-60) var(--unnamed-font-family-source-serif-pro);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--white);
text-align: center;
font: normal normal 600 48px/60px Source Serif Pro;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
  }
  .banner-container {
    height: 200px;
  }
  .banner-container img {
    height: 190px;
    min-width: none;
  }

  .filters {
    width: 20%;
  }
  .productsSection {
    width: 80%;
  }
  .productsSection h2 {
    top: 47%;
  }
  .product-info {
    font-size: var(--unnamed-font-size-14);
  }
  .product-info h3 {
    font-size: 14px !important;
    
  }

  .product img {
    height: 275px;
  }

  .container-footer {
    font-size: 13px;
  }
  .webFooter {
    font-size: 10px;
  }
}

@media screen and (max-width: 440px) {
  img.thumbNailImg {
    width: 10%;
}
  .container-index {
    grid-gap: 0.3em;
  }
  .container {
    width: 95%;
  }
  .productsSection {
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-gap: 0.1rem;
  }

  .product-info {
    font-size: 12px;
  }
  .product-info h3 {
    font-size: 11px !important;
    height: 40px;
  }
  .container-footer {
    padding: 0 25px;
  }
  .img-select {
    display: flex !important;
    margin-top: 50px;
}
.input-group {  
  width: 97% !important;
}
.footer-text {  
  padding: 30px !important;
  padding-top: 50px;
}
.container-footer {  
  font-size: small;
}

}

.categories input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.categories label {
  position: relative;
  cursor: pointer;
  line-height: 2.3;
}

.categories label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #91959C;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 3px;
}

.categories input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.cartCircle{
  position: absolute;
  width: 16px;
  height: 16px;  
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: white;
  line-height: 0.7;  
  text-transform: uppercase;
  font-weight: 9;
  margin: -8px -4px 2px;
  border: 1px solid #eeefff;
  text{
    font-size: 9px;
  }
}
/* (A) PAGINATION */
#container{
  padding-top: 20px;
}
#pagination{
  display: flex;
  justify-content: center;
}
.blocks{
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #DDDDDD;
  display: inline-block;
  text-decoration: none;
  color: black;
}
.blocks:not(:first-child){
  margin-left: 5px;
}
.blocks:first-child{
  border-radius: 10px 0 0 10px;
}
.blocks:last-child{
  border-radius: 0 10px 10px 0;
}
.blocks:hover{
  background-color: #DDDDDD;
}
#pagination a.active{
  background-color: #1363df;
  color: white;
}

