@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

.company-name a {
    text-decoration: none;
    color: inherit;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
   
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    /* display: flex; */
}
.img-item{
    margin: 0.5rem;
}
.img-item:nth-child(1){
    border-bottom: 2px #256eff solid;
}
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: inherit;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
    width: 318px;
height: 40px;
background: var(--primary-brand) 0% 0% no-repeat padding-box;
background: #1363DF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #39373729;
border-radius: 10px;
opacity: 1;
}

.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }
    .product-content{
        padding-top: 0;
    }
}

.plus-minus-input {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .plus-minus-input .input-group-field {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
    background: var(--white) 0% 0% no-repeat padding-box;
    border: 2px solid var(--gray-m1);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #91959C;
    border-radius: 8px;
    opacity: 1;
  }
  
  .plus-minus-input .input-group-field::-webkit-inner-spin-button,
  .plus-minus-input .input-group-field ::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
  }
  
  .plus-minus-input .input-group-button .circle {
    border-radius: 50%;   
  }
  
.input-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin-bottom: 1rem;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
            line-height: 3;
  }
  .input-group.plus-minus-input button {
    padding: 2px;
    line-height: 0.5;
}
  .input-group > :first-child {
    border-radius: 0 0 0 0;
  }
  
  .input-group > :last-child > * {
    border-radius: 0 0 0 0;
  }
  
  .input-group-label, .input-group-field, .input-group-button, .input-group-button a,
  .input-group-button input,
  .input-group-button button,
  .input-group-button label {
    margin: 0;
    white-space: nowrap;
  }
  
  .input-group-label {
    padding: 0 1rem;
    border: 1px solid #cacaca;
    background: #e6e6e6;
    color: #0a0a0a;
    text-align: center;
    white-space: nowrap;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .input-group-label:first-child {
    border-right: 0;
  }
  
  .input-group-label:last-child {
    border-left: 0;
  }
  
  .input-group-field {
    border-radius: 0;
    -webkit-flex: 1 1 0px;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px;
    height: auto;
    min-width: 0;
  }
  
  .input-group-button {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  
  .input-group-button a,
  .input-group-button input,
  .input-group-button button,
  .input-group-button label {
   
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem;
   
  }
  .footer-text{
    display: grid;
    grid: 1;
    grid-gap: 1.5rem;
    padding: 87px;
    padding-top: 50px;
    
    text{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-45) var(--unnamed-font-family-source-serif-pro);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-172026);
        text-align: left;
        font: normal normal 600 36px/45px Source Serif Pro;
        letter-spacing: 0px;
        color: #172026;
        opacity: 1;
    }
    span{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-muli);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-172026);
        text-align: left;
       
        letter-spacing: 0px;
        color: #172026;
        opacity: 1;
    }
    p{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-172026);
        text-align: left;
      
        letter-spacing: 0px;
        color: #172026;
        opacity: 1;
    }
  }
  img.thumbNailImg {
    width: 81%;
   
}
.img-select .img-item {
    margin-top: 28px;
}